b2/
binutils-gdb/
cpython/
ffi/
gmp/
mpdecimal/
mpfr/
readline/
zlib/
_*/

_docker/*
!_docker/
!_docker/run.sh
!_docker/.gdbinit
!_docker/.gdbinit-gef.py
!_docker/en/
!_docker/Dockerfile

_packages/*
!_packages
!_packages/*.tar*

!_build